button {
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

* {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

img {
    width: 300px;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    border: solid black;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

