.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: center;
    border-radius: 50px;
    background: rgba(0,0,0,0.7);
    color: rgb(185, 48, 36);
    margin-left: 400px;
    margin-right: 400px;
    font-family: 'Courier New';
}


.mainRow {
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.7);
    border-radius: 50px;
    color: beige;
    padding: 10px;
    width: 345px;
    text-align: center;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centralColumn {
    display: flex;
    background: rgba(0,0,0,0.7);
    border-radius: 50px;
    color: beige;
    padding: 20px;
}

#winCounter {
    margin-right: 100px;
}

.matchMessage {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'CARTOON FREE', sans-serif;
    color: rgb(252, 252, 42);
}

img {
    width: 300px;
    height: 320px;
    align-items: center;
    justify-content: center;
    border: solid black;
    border-radius: 50%;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
}


#yourChoice, #opponentChoice {
    font-size: 40px;
}

@import url('https://fonts.cdnfonts.com/css/cartoon-free');
